/*Selector{
    Propety: value;
}*/

*{
    text-align: right;
}

body {
    /*background-image: url("back.jpg");
    background-size: cover;*/
    background-color: rgb(29, 100, 61);
}

h2 {
    text-align: center;
    color: red;
}

h2:hover {
    color: rgb(203, 253, 23);
    text-align: center;
    border: 2px solid rgb(139, 45, 226);
}

/* h2 > p {
    color: rgb(63, 20, 255);
    text-align: center;
    border: 4px solid rgba(251, 255, 13, 0.5);
} */

/*h2 p {
    color: rgb(63, 20, 255);
    text-align: center;
    border: 4px solid rgba(251, 255, 13, 0.5);
}*/

/* h2,p {
    color: rgb(63, 20, 255);
    text-align: center;
    border: 4px solid rgba(251, 255, 13, 0.5);
} */

/* Why does it not work? How do I create a cursor with an image? */
.custom{
    cursor: url ("back.jpg", auto);
}

a{
    color: rgb(92, 247, 182);
    
}

a:hover{
    color: pink;
    
}

img{
    float: left;

}
p{
    color: #ff3a09;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
    /*font-style: italic;*/
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
    display: inline-block; inline-size: 100px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    font-stretch: 2em;
/* How do I organize the spaces beteewen the carachters? */
}

.webtext:first-child{
    border:2px dashed lightsalmon;
}

.active{
    color:rgb(6, 194, 207);
}

#div1{
background: rgba(60, 179, 113, 0.2);
}

#div2{
    background: rgba(135, 91, 238, 0.2);
    }

#div3{
    background: rgba(250, 197, 25, 0.945);
    }